<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss,SSSZ} %p %c{1} %m%n"/>
        </Console>
        <Socket name="Socket" host="logstash" port="5000">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss,SSSZ} %p %c{1} %m%n"/>
        </Socket>
    </Appenders>
    <Loggers>
        <Logger name="app" level="info">
            <AppenderRef ref="Socket"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>